<header>
    <img src="https://img.icons8.com/?size=100&id=83195&format=png&color=000000" alt="Navegação" id="Menu">
    <img src="https://img.icons8.com/?size=100&id=7820&format=png&color=000000" alt="imagem perfil">
</header>
<main>
    <table id="mini_menu" class="menu_fechado">
        <thead>
            <tr> 
                <th> Home </th>
            </tr>
            <tr> 
                <th> Dashboard </th>
            </tr>
        </thead>
    </table>
    <img src="/ArquivosDeSuporteDesafioAngular/img/ranger.png" alt="Carro Ranger" id="foto_carro">
</main>