    <div id="itens_all">

    <div id="carro1">
        <img src="http://localhost:3001/img/ranger.png" alt="Carro Ranger" id="foto_carro">
    </div>
   <div id="area_login">
<header> 
    <img src="/ArquivosDeSuporteDesafioAngular/img/ford.png" alt="Logo Ford" id="logoford">
</header>

<main>

    <p>Bem-Vindo</p>
    <form action="">
        <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
            <label for="nome" style="color: rgb(46, 46, 209); margin-right: 2%;">Nome: </label>
            <input type="text" name='nome' class="login" placeholder="João..."  [formControl]="nome" id="nome" required>
        </div>
        <div class="erros">
            <span class="erro"> {{ nomeErro }}</span>
        </div>
        <div style="display: flex; position: relative; align-items: center; justify-content: center; margin-top: 2%;">
            <label for="senha" style="color: rgb(46, 46, 209); margin-right:2%">Senha: </label> 
            <input   [type]="mostrar_Senha ? 'text' : 'password'"  name= 'Senha' class="login" [formControl]='senha' id="senha" placeholder="1234..." required>
            <i class="fa-solid senha_visivel"(click)="senha_visivel()" [class.fa-eye-slash]="!mostrar_Senha" [class.fa-eye]="mostrar_Senha"></i>
        </div> 
        <div class="erros">
            <span class="erro"> {{ senhaErro }}</span>
        </div>
        <section id="checkbox" style="display: flex; justify-content: end; width: 34%;">
            <div class="form-check form-switch mb-3" style="flex-direction: row-reverse; display: flex;">
                <input class="form-check-input" type="checkbox" role="switch" id="toggleSwitch" [formControl]="auto_login">
                <label class="form-check-label" for="toggleSwitch">logar automático</label>
              </div>
        </section>
        <span *ngIf="mensagemErro" class="erro"> {{ mensagemErro }}</span>
        <input type="button" value="Logar" class="botao_errado"  id="botao_submit" (click)="checkarLogin()" Ngif>
    </form>
</main>
</div>
</div>
