
header{
    margin-top: 2em;
    width:100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
header #logoford{
    width: 30%;
}
main{
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    color:lime;
    font-size: larger;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
form .login{
    width: 50%;
    height: 12%;
    margin-top: 2%;
    border-radius: 5px;
}
form .login:focus{
  border-color: blue;
  transition: 1s;
  transform: scale(1.02);

}
#checkbox{
    padding-top: 5%;
    width: 73%;
    margin-left: 27%;
    font-size: small;
    color: black;
}
#login-auto{
    scale: 1.5;
}
#botao_submit{
    margin-top: 2%;
    width: 20%;
    height: 3em;
    border-radius: 10px;
    border-color: gray;
    background-color: gray;
    opacity: 0.6;
    cursor: not-allowed;
}
.erros{
    width: 50%;
    display: flex;
    align-items: normal;
}
.erro{
    color: red;
    font-size: small;

}
#botao_certo{
    margin-top: 2%;
    width: 20%;
    height: 3em;
    border-radius: 10px;
    border-color: rgb(55, 79, 213);
    background-color: rgb(33, 43, 156);
}