
header{
    margin-top: 2em;
    width:100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
header #logoford{
    width: 30%;
}
#area_login{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2em;
}
p{
    color: rgb(83, 83, 230);
}
#itens_all{
    display: flex;
}
main{
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
    color:lime;
    font-size: larger;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
form .login{
    width: 40vh;
    height: 4vh;
    border-color: #1e3a8a;
    border-radius: 5px;
}
form .login:focus{
  border-color: #1e3a8a;
  box-shadow: #1e3a8a 3px 3px 3px;
  transition: 0.3s;
  transform: scale(1.02);

}
#checkbox{
    padding-top: 5%;
    margin-left: 27%;
    font-size: small;
    color: black;
    display: flex; 
    justify-content: end; 
    width: 34%;
}
#login-auto{
    scale: 1.5;
}
#botao_submit{
    margin-top: 2%;
    width: 20vh;
    height: 3em;
    border-radius: 10px;
    background-color: 0.3s;
    transform: 0.2s;

}

.erros{
    width: 50%;
    display: flex;
    align-items: normal;
}
.erro{
    color: red;
    font-size: small;

}
.botao_certo{
    margin-top: 2%;
    width: 20%;
    height: 3em;
    border-radius: 10px;
    border-color: rgb(55, 79, 213);
    background-color: rgb(33, 43, 156);
}
.botao_certo:hover{
    transform: scale(1.05);
    background-color: #1e40af;
    color: white;
}
.botao_errado{
    border-color: #939599;
    background-color: #999b9e;
    opacity: 0.6;
    cursor: not-allowed;
}

#carro1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#foto_carro{
    width: 70%;
}
#toggleSwitch{
    margin-left: 5%;
}
i{
    position: absolute !important;
    top: 0;
    right: 0;
    color: black;
    scale: 0.7;
    transform: translate(-30%, 30%);
    cursor: pointer;
}
#div_nome{
    display: flex; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
}
#div_senha{
    display: flex; 
    width: 67%;
    position: relative; 
    align-items: center; 
    justify-content: center; 
    margin-top: 2%;
}
.label_input{
    color: rgb(46, 46, 209); 
    margin-right:2%
}
#senha{
    width: 100%;
}
