header {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#mini_menu {
    transition: all 0.3s ease;
}

.menu_aberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color:white;
    z-index: 10;
    
}

.menu_fechado {
    display: none;
}
#botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 1%;
    row-gap: 4px;
    background: transparent;
    border: transparent;

}
button span{
    width: 30px ;
    height: 3px;
    border-radius: 10px;
    background: black;
}
#perfil{
    width: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 0%;
    right: 95%;
    z-index: 1000;
    display: none;
    
  }
  .dropdown-toggle::after {
  display: none;
}
#div_perfil{
    margin-right: 1%;
    width: 3%;
}
#logoford{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img{
        width: 20%;
    }
}
#div_perfil .info {
    pointer-events: none;
}
.modal-content{
    background-color: rgba(212, 215, 232, 0.438);
    border: none;
    box-shadow: none;
    width: 60vh;
    height: 60vh;
    margin-top: 18vh;

}
.modal-dialog{
    margin: 0;
    margin-left: 35%;
}