<app-header></app-header>
<main>
    <div id="container-main">
        <div id="realocacao">
        <div class="container mt-4">
            <div class="row">

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body" id="Select">
                            <div>
                                <h5 class="card-title">Selecione o Carro</h5>
                            </div>
                            <form [formGroup]="selectCar">
                                <select (change)="mudarcarro(carro.value)" #carro class="form-select" formControlName="selectedCar">
                                    <option *ngFor="let car of vehicles" [value]="car.id">
                                        {{ car.vehicle }}
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;" id="vendas">
                        <div class="card-body">
                            <h5 class="card-title">Total de Vendas</h5>
                            <p class="card-text">{{ carSelecionado()?.volumetotal}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;" id="conected">
                        <div class="card-body">
                            <h5 class="card-title">Conectados</h5>
                            <p class="card-text">{{carSelecionado()?.connected}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;" id="software">
                        <div class="card-body">
                            <h5 class="card-title">Update Software</h5>
                            <p class="card-text">{{carSelecionado()?.softwareUpdates}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid justify-content-center align-items-center d-flex flex-fill">
            <img  id="foto_carros" class="img-fluid w-50" [src]="carSelecionado()?.img" alt="">
        </div>
        <br><br>
</div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="vin-cima"> código-Vin </th>
                        <th scope="col" class="vin-cima"> Odometro </th>
                        <th scope="col" class="vin-cima"> Nivel de combustivel </th>
                        <th scope="col" class="vin-cima"> status </th>
                        <th scope="col" class="vin-cima"> lat. </th>
                        <th scope="col" class="vin-cima"> long. </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                                <input name="código-Vin" placeholder="Digite o código" #vin (change)="pesquisarVin(vin.value)">
                        </th>
                        <td>{{ vinSelecionado()?.odometro }}</td>
                        <td>{{ vinSelecionado()?.nivelCombustivel}}</td>
                        <td>{{ vinSelecionado()?.status}}</td>
                        <td>{{ vinSelecionado()?.lat}}</td>
                        <td>{{ vinSelecionado()?.long}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</main>