body{
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
/* #realocacao{
    height: 90vh;
    background-image: url('/ArquivosDeSuporteDesafioAngular/img/background.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
} */
#conected{       
    background-color: rgb(244, 247, 30);
    border-radius: 10px;
    border: none;

}
#vendas{
    background-color: rgb(83, 83, 212);
    border-radius: 10px;
    border: none;
    color: white;
}
#software{
    background-color: rgb(236, 45, 45);
    border-radius: 10px;
    border: none;
    color: white;
}
.separacao{
    display: block;
    position:relative;
    top: 50px;
    width: 100%;
    height: 2px;
    background: black;
}
#foto_carros{
    scale: 1.2;
    box-shadow: 2px 2px 15px 2px ;
}
.vin-cima{
    background-color: rgb(24, 24, 135);
    color: white;
}
