<header>
    <button id="botao">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="menuLateral"
        aria-labelledby="menuLateralLabel">
        <div class="offcanvas-body">
            <div id="logoford">
                <img src="/ArquivosDeSuporteDesafioAngular/img/ford.png" alt="Logo Ford">
            </div>
            <p></p>
            <p class="btn btn-outline-dark w-100 mb-2 " id="home">Home</p>
            <p class="btn btn-outline-dark w-100 mb-2" id="dash">Dashboard</p>
        </div>
    </div>
    <div class="dropdown text-end" id="div_perfil">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" aria-expanded="false">
            <img src="https://img.icons8.com/?size=100&id=7820&format=png&color=000000" alt="imagem perfil" id="perfil">
        </a>

        <ul class="dropdown-menu dropdown-menu-start text-small">
            <li>
                <h5 class="dropdown-header">Login</h5>
            </li>

            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" id="logout">logout</button></li>
        </ul>
    </div>
</header>

<main>
    <div id="container-main">
        <div class="container mt-4">
            <div class="row">

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">Card 1</h5>
                            </div>
                            <form [formGroup]="selectCar">
                                <select [(ngModel)]="vehicles" class="form-select" formControlName="selectedCar">
                                    <option [ngValue]="">Selecione um carro</option>
                                    <option *ngFor="let car of vehicles" [value]="car.id">
                                        {{ car.vehicle }}
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total de Vendas</h5>
                            <p class="card-text">{{ vehicles[].volumetotal}}.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Conectados</h5>
                            <p class="card-text">Conteúdo do Card 3.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Update Software</h5>
                            <p class="card-text">Conteúdo do Card 4.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>